# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=lyftos-image

# Make this the same as your github username/organisation
REPO_ORGANIZATION="dipilo"

IMAGE_DESC="lyftOS gaming desktop, built on Bazzite"
IMAGE_KEYWORDS="bootc,oci,linux,gaming,bazzite,kde,plasma"

IMAGE_LOGO_URL="https://raw.githubusercontent.com/dipilo/lyftos-image/main/repo_content/logo.png"
DEFAULT_TAG="testing"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
