[Desktop Entry]
Name=lyftOS Portal
Comment=Set up lyftOS with tools from Bazzite
Exec=yafti_gtk.py /usr/share/yafti/yafti.yml
Icon=lyftos-logo-icon
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true

