[Desktop Entry]
Name=lyftOS Portal
Comment=Set up lyftOS with tools from Bazzite
Exec=yafti_gtk.py /usr/share/yafti/yafti.yml
Icon=io.github.ublue_os.yafti_gtk
Terminal=false
Type=Application
Categories=System;Settings;

