[Desktop Entry]
Name=lyftOS Portal
Comment=Set up lyftOS with tools from Bazzite
Exec=yafti_gtk.py /usr/share/yafti/yafti.yml
Icon=lyftos-portal
Terminal=false
Type=Application
Categories=System;Settings;

